*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #BA6F2A;
    --color-secondary: #333;
    --color-tertiary: #ffd700;
}

body {
    background-color: var(--color-primary);
    font-family: 'Audiowide', sans-serif;
    color: #efefef;
}

.border {
    position: relative;
    padding: 3rem 4rem;
    height: 110vh;
    width: 100%;
    /* background-color: #BA6F2A; */
    background-color: var(--color-primary);
    z-index: 2;
}

.game-box {
    background-color: var(--color-secondary);
    height: 80vh;
    width: 95%;
    margin: 0 auto;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
}

.game-box__group--1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
    margin-left: 3rem;
}

/*  Game */

.ball {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.ball--1 {
    background-color: #3C3AA9;
}
.ball--2 {
    background-color: #8F15A3;
}
.ball--3 {
    background-color: #EDCB54;
}
.ball--4 {
    background-color: #E90101;
}

.target {
    position: relative;
    z-index: 1;
}

.marked {
    box-shadow: 0rem 0 3rem var(--color-tertiary);
}


.spin {
    border: 2px dashed #333;
    transition: all 200ms;
    animation: rotate 3000ms infinite linear;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.start-game {
    display: flex;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: #333;
    justify-content: center;
}

.start-game__button {
    background-color: var(--color-tertiary);
    padding: .5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 250ms;
}

.start-game__button:hover {
    background-color: #e0c005;
}


.initialized {
    opacity: .6;
    background-color: #e0c005;
    cursor: no-drop;
}

/* Win/Lose message */
.main {
    position: relative;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.winning-page {
    background-color: green;
}


.losing-page {
    background-color: darkred;
}

.results {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 250ms;
    z-index: 1000;
}

.results__message {
    font-size: 5rem;
    text-transform: uppercase;
    margin-top: 40vh;
    /* transform: translateY(-50%); */
}

/* Logo */
.logo-box {
    display: flex;
    align-items: center;
}

.logo-box__img {
    width: 10%;
    margin-left: 3rem;
}

.logo {
    width: 100%;
}

.logo-box__title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 2rem;
}

.logo-box__level {
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
}

/* Footer */

.footer {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.footer a:link,
.footer a:visited {
    margin-left: 2rem;
    text-decoration: none;
    color: inherit;
    transition: color 250ms;
}

.footer a:hover,
.footer a:active {
    color: #ddd
}

